@model whatUneed.Models.Social.SocialDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.Title)</strong>?</h2>

<div>

    <hr />

    <div class="col" style="        background-color: rgba(184, 189, 193, 0.5);
        padding: 10px;
        border-radius: 10px;">

        <h4>@Html.DisplayFor(model => model.Description)</h4>

    </div>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Details", new { id = Model.SocialId })
        </div>
    }
</div>
