@model whatUneed.Models.Favorites.FavoritesDetail

@{
    ViewBag.Title = "EmotionalRemove";
}

<h2>Are you sure you want to remove <strong>@Html.DisplayFor(model => model.EmotionalTitle)</strong> from your favorites?</h2>

<div>

    <hr />

    <div class="col" style="        background-color: rgba(184, 189, 193, 0.5);
        padding: 10px;
        border-radius: 10px;">

        <h4>@Html.DisplayFor(model => model.EmotionalDescription)</h4>

    </div>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
