    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title</h2>

    <div style="        background-color: rgba(184, 189, 193, 0.5);
        padding: 10px;
        border-radius: 10px;
        color: rgb(25, 25, 25);
        font-family: Calibri">

        <h3>@ViewBag.Message</h3>

        <h4>
            what-U-need was designed to provide a safe place for individuals to both find and share helpful resources for various aspects of life. The purpose is to create an ever growing network of useful materials to help make
            peoples lives better. Struggling with something in particular? Take a look around and find what you need. Have a great resource that's helped you? Share it for others to see. You never know, it may just be exactly
            what someone else needs.
        </h4>

        <h4>
            The goal of this site is to create connection, joy, and peace through useful resources shared by anyone and everyone.
        </h4>

        <h4>
            Thank you for visiting!
        </h4>

    </div>
