@{
    ViewBag.Title = "Contact me!";
}
<h2>@ViewBag.Title</h2>

<div class="col-md-6" style="        background-color: rgba(184, 189, 193, 0.5);
        padding: 0px, 10px, 0px, 10px;
        border-radius: 10px;
        color: rgb(25, 25, 25);
        font-family: Calibri">

    <h3>@ViewBag.Message</h3>

    <form action="https://formspree.io/f/xrgoeena" method="POST">
        <input placeholder="Name" type="text" name="name">
        <br>
        <input placeholder="Email Address" type="email" name="_replyto">
        <br>
        <input placeholder="Message..." type="text" name="message">
        <br>
        <input type="submit" value="Send">
    </form>

    <br />

    <address>
        Created by Austin Williams<br />
        Plainwell, MI 49080<br />
    </address>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
