@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Created by Austin Williams<br />
    Plainwell, MI 49080<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Ausjwill@gmail.com">Ausjwill@gmail.com</a><br />
    <strong>Portfolio:</strong> <a href="https://ausjwill.github.io/Ausjwill/" target="blank">Ausjwill.github.io/Ausjwill</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ausjwill/" target="blank">Linkedin.com/in/Ausjwill</a>
</address>
